@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body{
    background-color: #ace0f9 !important;
    font-family: 'Amatic SC', cursive !important;

}

p{
    font-family: 'Hubballi', cursive !important;
}